:host {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.sub-container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  :host {
    flex-direction: column;
    gap: 0.5rem;
  }
}
