<form (ngSubmit)="submit()" [formGroup]="form" class="form">
  <div class="form__group">
    <input
      [class.dirty]="nameControl.value.length > 0"
      [formControl]="nameControl"
      [id]="upgradeType"
      class="form__name"
      type="text"
    />
    <label [for]="upgradeType" class="form__label">Car name</label>
  </div>
  <input [formControl]="colorControl" class="form__color" type="color" />
  <app-button [disabled]="isDisabled" class="form__button" type="submit">
    <ng-content></ng-content>
  </app-button>
</form>
