@import 'colors';

$input-padding: 0.5rem;
:host {
  width: 100%;
}
.form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;

  &__group {
    position: relative;
    flex-grow: 1;
  }

  &__name {
    height: 28px;
    color: $text;
    border-radius: 0.2rem;
    padding-left: $input-padding;
    //flex-grow: 1;
    background-color: $background-light;
    font-size: 1.2rem;

    &:focus {
      ~ .form__label {
        opacity: 0;
      }
    }

    &:disabled {
      background-color: $background;
      ~ .form__label {
        opacity: 0.5;
      }
    }
  }

  &__label {
    font-size: 1.2rem;
    top: 0;
    left: $input-padding;
    position: absolute;
    opacity: 1;
    transition: 0.2s;
  }

  &__color {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 35px;
    width: 150px;
  }
}

.dirty {
  ~ .form__label {
    opacity: 0;
  }
}

@media screen and (max-width: 1400px) {
  .form__name {
    min-width: 600px;
  }
}
@media screen and (max-width: 900px) {
  .form__name {
    min-width: 300px;
  }
}
