@import 'colors';
$item-height: 80px;

.race-container {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  min-height: $item-height;
}

.race {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;

  &__item {
    height: $item-height;
    min-height: $item-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    flex-grow: 1;
    text-align: center;
    //margin-left: 1rem;
  }
}

.race-start {
  min-width: 200px;
}
.race-road {
  display: flex;
  flex-grow: 1;
}

.finish {
  width: $item-height;
}
.flex-grow {
  flex-grow: 1;
}
.divider {
  display: flex;
  align-items: center;
  &__line {
    background-color: $accent;
    width: 3px;
    height: 100%;
  }
  &__text {
    writing-mode: vertical-rl;
  }
}
