@import 'colors';
@import 'mixins';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  cursor: pointer;
  &__icon {
    @include icon-size(64px);
    color: $accent;
    margin-bottom: 1rem;
  }
}
