@use '@angular/material' as mat;
@include mat.core();
@import 'normolize';
@import 'mat-palette';
@import 'colors';

@include mat.all-component-themes($dark-theme);
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Comic Neue', cursive;
  background-color: $background-dark;
  color: $text;
}
